body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #f8f9fb;
  color: #3d3d3d;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}
